<!DOCTYPE html>
<html>

  <head>
    <title>Invite Only.</title>
  </head>

  <body>



    <form action="/createuser" method="POST">

      <input name="user" type="hidden" value=<%= hash %> />


      <input type="password" name="password" />

      <input type="password" name="confirmation" />

      <input type="submit" />

    </form>



  </body>



</html>
