<!DOCTYPE html>
<html>

  <head>
    <title>Invite Only.</title>
  </head>

  <body>

    <input name="user" type="hidden" value=<%= hash %> />


    <input type="password" name="password" />


  </body>



</html>
