<!DOCTYPE html>
<html ng-app="inviteOnly">

  <head>
    <title>Invite Only.</title>
    <script type="text/javascript" src="/components/angular/angular.min.js"></script>
    <script type="text/javascript" src="/js/app.js"></script>

  </head>

  <body>


    <section ng-controller="NewUserController as newCtrl" ng-hide="<%= registered %>">

      <h1>{{newCtrl.header}}</h1>

      <form name="newUserForm" action="/createuser" method="POST" novalidate>

        <input name="user" type="hidden" value="<%= hash %>" />


        <p>{{newCtrl.instruction}}</p>


        <input type="password" ng-hide="newCtrl.ready" name="password" ng-model="password" ng-minlength="5" required />

        <input type="password" ng-show="newCtrl.ready" name="confirmation" ng-model="confirmation" required />



        <button type="button" ng-show="!newCtrl.ready" ng-click="newUserForm.password.$valid && newCtrl.makeReady()">something</button>


        <input type="submit" ng-show="newCtrl.ready && newUserForm.$valid && password === confirmation" />
        <button type="button" ng-hide="!newCtrl.ready || (newUserForm.$valid && password === confirmation)" ng-click="loginCtrl.displayError()">Suubmit</button>

      </form>
    </section>




    <section ng-controller="LoginController as loginCtrl" ng-show="<%= registered %>">

      <h1>A countdown will go here.</h1>

      <form name="loginForm" ng-show="false" novalidate>

        <input name="user" type="hidden" value="<%= hash %>" />

        <input type="password" name="password" required />

        <input type="submit" ng-show="loginForm.$valid" />
        <button type="button" ng-hide="loginForm.$valid" />

      </form>

    </section>


  </body>



</html>
