<!DOCTYPE html>
<html ng-app="inviteOnly">

  <head>
    <title>Invite Only.</title>
    <script type="text/javascript" src="/components/angular/angular.min.js"></script>
    <script type="text/javascript" src="/js/app.js"></script>
    <link rel="stylesheet" type="text/css" href="/styles/style.css" />
  </head>


  <body ng-class="{valid: <%= valid %>, invalid: <%= !valid %>}">


    <h1 ng-show="<%= valid %>">Welcome!</h1>

    <h1 ng-show="<%= !valid %>">Invalid Ticket.</h1>


  </body>



</html>
